.w3-top
  .w3-row.w3-large.w3-light-grey
    .w3-col.s3
      %a.w3-button.w3-block.fa.fa-home{:href => "#", :title => "Home"}
    .w3-col.s3
      %a.w3-button.w3-block.fa.fa-gear{:href => "#", :title => "Services"}
    .w3-col.s3
      %a.w3-button.w3-block.fa.fa-info-circle{:href => "#", :title => "About"}
    .w3-col.s3
      %a.w3-button.w3-block.fa.fa-phone-square{:href => "#", :title => "Contact"}